{
	"presets": ["es2015", "stage-0", "react"],
	"plugins": [
		"transform-decorators-legacy",
		"syntax-async-functions",
		"transform-regenerator",
		[
			"import",
			{
				libraryName: "antd",
				style: "css"
			}
		],
		"transform-react-stateless-component-name"
	]
}
